.task{
	display: flex;
	flex-direction: column;
	// margin: 0 1.25rem;
	position: relative;
}
.taskTitle{
	margin-right: auto;
}
.taskToggle{
	left: -1.5rem;
	z-index: 1;
	min-width: 0.75rem;
	cursor: pointer;
	text-align: center;

	font-size: 1rem;
}

.taskCheckbox{
}

.subtasks{
	display: flex;
	flex-direction: column;
	margin-left: 1.25rem;
}
.taskItem {
	display: flex;
	gap: 1.5rem;
	padding: 1rem;
	transition: .3s;

	border-bottom: 1px #33333350 solid;

	&:hover{
		cursor: pointer;
		background-color: var(--secondary-color);
		border-bottom: 1px transparent solid;
		color: var(--bg-color);
	}
}
.current {
	background-color: var(--primary-color);
	border-bottom: 1px transparent solid;
	color: var(--bg-color);
	&:hover{
		background-color: var(--primary-color);
		color: var(--bg-color);
	}
}