.task{
	display: flex;
	flex-direction: column;
	margin: 0 1.25rem;
	position: relative;
}

.taskToggle{
	left: -1.25rem;
	position: absolute;
	z-index: 1;
}

.taskCheckbox{
	margin-left: auto;
}

.subtasks{
	display: flex;
	flex-direction: column;
}