.wrapper {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	max-width: 80vw;
	margin: auto;
	margin-top: 2rem;
}

.header {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.container {
	display: flex;
	padding: 1.25rem;
	@media screen and (max-width: 768px) {
		flex-direction: column;		
	}
}

.column {
	padding: 1rem;
	width: 50%;
}