.addBlock {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-top: 1.5rem;
}

.addTaskInput {
	padding: 0.25rem;
	border: none;
	outline: none;
	border-bottom: 1px solid #333;
	padding-bottom: 1rem;

	color: var(--font-color);
	background-color: var(--bg-color);
	transition: .3s;
}
.addTaskTextarea {
	padding: 0.25rem;
	border: none;
	outline: none;
	border-bottom: 1px solid #333;
	padding-bottom: 1rem;
	resize: none;

	color: var(--font-color);
	background-color: var(--bg-color);
	transition: .3s;
}
.addBlockButtons {
	display: flex;
	justify-content: space-between;
	gap: 1rem;
	button {
		width: 45%;

		background-color: var(--primary-color);
		color: var(--bg-color);
		font-size: 1rem;
		font-weight: 700;
		padding: 1rem 2rem;
		border: none;
		outline: none;
		cursor: pointer;
		transition: .3s;
	}
}