.themeSwitcher {
	cursor: pointer;
	padding: 0.5rem;
	font-size: 1.5rem;

	color: var(--bg-color);
	background-color: var(--font-color);
	border-radius: 50%;
	transition: .3s;
	div {
		display: flex;
	}
}